@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #111111;
  --secondary-bg: #1e1e1e;
  --tertiary-bg: #3c3c3c;
  --primary-text: #ffffff;
  --secondary-text: #828282;
  --gradient-left: #dc1b73;
  --gradient-right: #f47b23;
  --secondary-button-bg: #dc1b73;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

h1 {
  @apply text-h1;
}
h2 {
  @apply text-h2;
}
h3 {
  @apply text-h3;
}
h4 {
  @apply text-h5;
}
h5 {
  @apply text-h5;
}
h6 {
  @apply text-h6;
}
