@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #111111;
  --primary-bg-rgb: rgb(17, 17, 17, 0.6);
  --secondary-bg: #1e1e1e;
  --tertiary-bg: #3c3c3c;
  --primary-text: #ffffff;
  --secondary-text: #828282;
  --tertiary-text: #828282;
  --gradient-left: #dc1b73;
  --gradient-right: #f47b23;
  --secondary-button-bg: #dc1b73;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

/* Default (base) styles */
h1 {
  @apply text-h1;
}
h2 {
  @apply text-h2;
}
h3 {
  @apply text-h3;
}
h4 {
  @apply text-h4;
}
h5 {
  @apply text-h5;
}
h6 {
  @apply text-h6;
}

p {
  @apply text-paragraph;
}

/* Small screens (sm) */
@screen sm {
  h1 {
    @apply text-h1-sm;
  }
  h2 {
    @apply text-h2-sm;
  }
  h3 {
    @apply text-h3-sm;
  }
  h4 {
    @apply text-h4-sm;
  }
  h5 {
    @apply text-h5-sm;
  }
  h6 {
    @apply text-h6-sm;
  }
}

/* Medium screens (md) */
@screen md {
  h1 {
    @apply text-h1-md;
  }
  h2 {
    @apply text-h2-md;
  }
  h3 {
    @apply text-h3-md;
  }
  h4 {
    @apply text-h4-md;
  }
  h5 {
    @apply text-h5-md;
  }
  h6 {
    @apply text-h6-md;
  }
  p {
    @apply text-paragraph-md;
  }
}

/* Large screens (lg) */
@screen lg {
  h1 {
    @apply text-h1-lg;
  }
  h2 {
    @apply text-h2-lg;
  }
  h3 {
    @apply text-h3-lg;
  }
  h4 {
    @apply text-h4-lg;
  }
  h5 {
    @apply text-h5-lg;
  }
  h6 {
    @apply text-h6-lg;
  }
  p {
    @apply text-paragraph-lg;
  }
}

/* Extra large screens (xl) */
@screen xl {
  h1 {
    @apply text-h1-xl;
  }
  h2 {
    @apply text-h2-xl;
  }
  h3 {
    @apply text-h3-xl;
  }
  h4 {
    @apply text-h4-xl;
  }
  h5 {
    @apply text-h5-xl;
  }
  h6 {
    @apply text-h6-xl;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.custom-hide-number-arrows {
  -webkit-appearance: none;
  margin: 0;
}
